@import '../../../../sass/index.scss';

.followers {
    display: flex;
  
    p {
      margin-right: 50px;
      font-size: 16px;

      @media only screen and (max-width: 576px) { 
        font-size: 14px;
      }
  
      &.link:hover {
        cursor: pointer;
      }
  
      span {
        font-weight: bold;
      }
    }

    @media only screen and (max-width: 576px) { 
      flex-direction: column;
    }
}