@import '../../../sass/index.scss';

.modal-publication {
    height: 520px !important;
  
    .ui.grid {
      margin: 0;
      height: 100%;
    }
  
    &__left {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @media only screen and (max-width: 767px) { 
        height: 50%;
      }
  

    }
  
    &__right {
      padding: 0 !important;
      height: 100%;

      @media only screen and (max-width: 767px) { 
        height: 50%;
      }
    }
}